alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
bleach==3.2.1
certifi==2020.6.20
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
clang-format==9.0.0
cloudpickle==1.6.0
commonmark==0.9.1
coolname==1.1.0
cpufeature==0.1.1
cupy-cuda101==7.8.0
cycler==0.10.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docutils==0.16
dominate==2.5.2
entrypoints==0.3
fastrlock==0.5
filelock==3.0.12
future==0.18.2
h5py==2.10.0
horovod==0.20.3
identify==1.5.4
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==2.0.0
importlib-resources==3.0.0
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
more-itertools==8.5.0
mpi4py==3.0.3
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
networkx==2.5
ninja==1.10.0.post2
nodeenv==1.5.0
nose==1.3.7
notebook==6.1.4
numpy==1.19.2
opencv-python==4.4.0.44
openslide-python==1.1.2
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==7.2.0
pluggy==0.13.1
pre-commit==2.7.1
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
py==1.9.0
pycparser==2.20
Pygments==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.0.2
pytest-forked==1.3.0
python-dateutil==2.8.1
pytz==2020.1
pyvips==2.1.13
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
recommonmark==0.6.0
requests==2.24.0
runx==0.0.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
Send2Trash==1.5.0
shuffle==0.9
six==1.15.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.7
tensorboardX==1.8
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.3
toml==0.10.1
torch==1.6.0+cu101
torchsummary==1.5.1
torchvision==0.7.0+cu101
tornado==6.0.4
tqdm==4.49.0
traitlets==4.3.3
urllib3==1.25.10
virtualenv==20.0.31
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.2.0