[submodule "dlmodels/stain_adversarial_learning"]
	path = dlmodels/stain_adversarial_learning
	url = https://github.com/sebastianffx/stain_adversarial_learning
[submodule "dlmodels/color-information"]
	path = dlmodels/color-information
	url = https://github.com/sara-nl/color-information
